# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/PRN232.LMS.slnx/FileContentIndex/0802496d-7678-4ce3-8011-9a3e7377692d.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/1c206a6d-8416-4d1b-b64e-ad6da664a8ec.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/1f62a090-c1d4-42bb-bbb2-b19d1a2fbc80.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/28827a1c-7832-48a6-851a-af1005445398.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/59a6f1ef-344b-4682-8576-4bba6b80decd.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/6e30943b-4fa5-43a2-938b-681b7035a5f7.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/741b4801-1781-490a-917b-152f8584965f.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/747921a2-dc9b-48a5-af5d-2be746f95e92.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/ad4c6d77-6afd-4959-8d5b-f977aca2c48b.vsidx
.vs/PRN232.LMS.slnx/FileContentIndex/cd9d391c-42b8-47d8-8407-0c5f9349483f.vsidx
.vs/PRN232.LMS.slnx/v18/.suo
.vs/ProjectEvaluation/prn232.lms.metadata.v10.bin
.vs/ProjectEvaluation/prn232.lms.projects.v10.bin
.vs/ProjectEvaluation/prn232.lms.strings.v10.bin
PRN232.LMS.API/obj/Debug/net8.0/PRN232.LMS.API.AssemblyInfo.cs
PRN232.LMS.API/obj/Debug/net8.0/PRN232.LMS.API.AssemblyInfoInputs.cache
PRN232.LMS.API/obj/Debug/net8.0/PRN232.LMS.API.assets.cache
PRN232.LMS.API/obj/Debug/net8.0/PRN232.LMS.API.csproj.AssemblyReference.cache
PRN232.LMS.API/obj/Debug/net8.0/PRN232.LMS.API.GeneratedMSBuildEditorConfig.editorconfig
PRN232.LMS.API/obj/Debug/net8.0/rpswa.dswa.cache.json
PRN232.LMS.API/obj/PRN232.LMS.API.csproj.nuget.dgspec.json
PRN232.LMS.API/obj/project.assets.json
PRN232.LMS.API/obj/project.nuget.cache
PRN232.LMS.Repositories/obj/Debug/net8.0/PRN232.LMS.Repositories.AssemblyInfo.cs
PRN232.LMS.Repositories/obj/Debug/net8.0/PRN232.LMS.Repositories.AssemblyInfoInputs.cache
PRN232.LMS.Repositories/obj/Debug/net8.0/PRN232.LMS.Repositories.assets.cache
PRN232.LMS.Repositories/obj/Debug/net8.0/PRN232.LMS.Repositories.GeneratedMSBuildEditorConfig.editorconfig
PRN232.LMS.Repositories/obj/PRN232.LMS.Repositories.csproj.nuget.dgspec.json
PRN232.LMS.Repositories/obj/project.assets.json
PRN232.LMS.Repositories/obj/project.nuget.cache
PRN232.LMS.Services/obj/Debug/net8.0/PRN232.LMS.Services.AssemblyInfo.cs
PRN232.LMS.Services/obj/Debug/net8.0/PRN232.LMS.Services.AssemblyInfoInputs.cache
PRN232.LMS.Services/obj/Debug/net8.0/PRN232.LMS.Services.assets.cache
PRN232.LMS.Services/obj/Debug/net8.0/PRN232.LMS.Services.csproj.AssemblyReference.cache
PRN232.LMS.Services/obj/Debug/net8.0/PRN232.LMS.Services.GeneratedMSBuildEditorConfig.editorconfig
PRN232.LMS.Services/obj/PRN232.LMS.Services.csproj.nuget.dgspec.json
PRN232.LMS.Services/obj/project.assets.json
PRN232.LMS.Services/obj/project.nuget.cache
